<!DOCTYPE html>
<html lang="en">
  <head>

    <script>
      window.tournamentID = <%=tournamentID%>;
    </script>
  </head>
  <body>
    <% include partials/navbar %>
    <script src="/scripts/tournament_enroll.js"></script>

    <main class="container">
      <div>
        <h1> <%= tournamentName %> Enrollment Page </h1>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Creator</th>
              <th scope="col">Total Teams</th>
              <th scope="col"># of Enrolled</th>
            </tr>
          </thead>
          <tbody class="tournament-details">
            <tr>
              <td scope="row"><%= tournamentName %></td>
              <td scope="row"><%= tournamentDescr %> </td>
              <td scope="row"><%= tournamentCreator %></td>
              <td scope="row"><%= teamCount %> teams</td>
              <td scope="row"><%= enrolledPlayers.length %> Players</td>
            </tr>
          </tbody>
        </table>
        <% if(isReady) { %>
        <h3> This tournament is full. Check it out <a href="/tournaments/<%= tournamentID %>">here</a> </h3>
        <% } else { %>
          <div class="enroll-button">
            <form method="POST" action="/enrollments/<%=tournamentID%>/enroll">
            <input type="submit" value="Enroll in this Tournament">
            </form>
          </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
