<!DOCTYPE html>
<html lang="en">

<head>

  <script>
    window.tournamentID = <%=tournamentID %>;
    window.isOwner = <%= isOwner %>;
  </script>
</head>

<body>
  <% include partials/navbar %>
    <script src="/scripts/tournament_view.js"></script>
    <script src="/scripts/bracketgenerator.js"></script>
    <script src="/vendor/jquery.bracket.min.js"></script>
    <script type="text/javascript" src="/scripts/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/r-2.2.1/sc-1.4.3/sl-1.2.4/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/vendor/jquery.bracket.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/r-2.2.1/sc-1.4.3/sl-1.2.4/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/tournament_view.css" />
    <link rel="stylesheet" type="text/css" href="/styles/slick.css" />
    <link rel="stylesheet" type="text/css" href="/styles/slick-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">



    <main class="container">
      
        <div class="tournamentheader">
          <!-- Tournament Name gets appended here from App.js -->
          <h1><%= tournamentName %></h1>
        </div>

        <div class="tournamentinfo">
          <%= tournamentDescr %>
          <!-- <h6>Tournament Date:</h6> <%= tournamentDate %> -->
        </div>
  

      <div class="tournament-view-button">
        <button id="twitch-button" class="start-tournament">Twitch Stream</button>
        <button id="highlights-button" class="start-tournament">Highlights</button>
        <button id="share-button" class="start-tournament">Share</button>
      </div>

      <% include partials/share_button %>

      <div class="copy-alert"></div>

      <% if (twitchName !== null) { %>
        <div class="container-fluid tournament-view">
          <h2>Twitch Stream</h2>
          <div class="row embeds">
            <iframe class="col-md-8 embed-responsive embed-responsive-16by9" src="<%- twitchChannel %>" frameborder="0" allowfullscreen
              id="video">
            </iframe>
            <iframe frameborder="0" scrolling="no" src="<%- twitchChat %>" class="col-md-4" id="chat">
            </iframe>
          </div>
          <hr>
        </div>
      <% } %>

          <h2 class="section-header">Tournament Bracket</h2>

          <!-- BRACKET CODE WILL GO HERE (If user is Tournament Runner - Allow Edits . If not - Remove edit ability) -->
          <div class="bracket-alert"></div>

          <container>
            <center>
              <div id="save" style="display: inline-block;"></div>
            </center>
          </container>

          <% if (isOwner)  { %>
            <div style="text-align: center">
              <button id="target" class="save button">Save</button>
            </div>
            <% } %>

              <hr>

              <div class="container tournament-view">
                
                    <h2 class="section-header">Team Rosters</h2>

                    <div class="row team-cards">
                      <!-- Bootstrap Cards will go Here (Users and Admins can see) -->
                    </div>
                    <% if (isOwner)  { %>
                      <div class='admin-options'>
                        <button id="manage-highlights-button">
                          <i class="fa fa-file-video-o" aria-hidden="true" title="Manage Highlights"></i>
                        </button>
                        <button id="email-notifications-button">
                          <i class="fa fa-bell-o" aria-hidden="true" title="Email Players"></i>
                        </button>
                        <button id="role-summary-button">
                          <i class="fa fa-users" aria-hidden="true" title="Team Summary"></i>
                        </button>
                        <button id="swap-modal-button">
                          <i class="fa fa-exchange" aria-hidden="true" title="Swap Players"></i>
                        </button>
                        <button id="avg-level-button">
                          <i class="fa fa-bar-chart" aria-hidden="true" title="Average Team Levels"></i>
                        </button>
                      </div>
    
                      <!-- Avg Team Levels Slide Down -->
                      <div class="avg-team-levels">
    
                        <div class="chart-wrapper">
                          <canvas id="myChart" height="100%"></canvas>
                        </div>
    
                      </div>
    
                      <!-- Swap players Modal -->
                      <div id="swap-players-modal" class="modal">
                        <div class="modal-content">
                          <div class="swap-players-container">
                          </div>
                          <button id="swap-players-button">Confirm!</button>
                        </div>
                      </div>
    
                      <!-- Send Email Modal -->
                      <div id="send-email-modal" class="modal">
                        <div class="modal-content">
    
                          <h1>Send email to team</h1>
                          <form id="email-form" action="sendemail" method="POST">
                            <div class="form-row">
                              <label class="form-label" for="teams"> Choose team: </label>
                              <select name="teams" id="team-ids">
                              </select>
                            </div>
                            <div class="form-row">
                              <label class="form-label" for="eamilBody">Message:</label>
                              <textarea rows="4" cols="50" name="emailBody" form="email-form"></textarea>
                            </div>
                              
                              <div class="send-email">
                                  <input type="submit" class="send-email">
                                </div>                            
                          </form>
                        </div>
                      </div>
    
                      <!-- Manage highlights button -->
                      <div id="manage-highlights-modal" class="modal">
                        <div class="modal-content">
                          <h1>Manage Highlights</h1>
                          <form id='highlight-form' action="/highlights/<%=tournamentID%>/new" method="POST">
                            <label for="name" class="form-label"> Highlight Name </label>
                            <input class="highlight-name" type="text" name="name" required="">
                            <br>
                            <label for="url" class="form-label"> Highlight Youtube URL </label>
                            <input class="highlight-url" type="text" name="url" required="">
                            <br>
                            <div class="add-highlights">
                              <button type="button" class="add-highlight">Add highlight!</button>
                            </div>
                          </form>
                          <div class='youtube-alert'></div>
                          <div class="manage-highlights-container">
                          </div>
                        </div>
                      </div>
    
                      <!-- Role Summary Modal -->
                      <div id="role-summary-modal" class="modal">
                        <div class="modal-content">
                          <h1>Team Summary</h1>
                          <div class="link-to-teams">Jump to: </div>
                          <div class="role-summary-container">
                          </div>
                        </div>
                      </div>
                      <% } %>
    
                        <!-- Role Summary Modal -->
                        <div id="highlights-modal" class="modal">
                          <div class="modal-content">
                            <h1>Highlights</h1>
                            <div class="highlights-container">
                            </div>
                          </div>
                        </div>
              </div>
              <br>

              <div class="swap-alert"></div>

    </main>
</body>

</html>