<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
  <script>
      window.tournamentID = <%=tournamentID%>;
      window.isOwner = <%= isOwner %>;
  </script>
</head>
  <body>
      <% include partials/navbar %>
      <script src="/scripts/tournament_view.js"></script>
      <script src="/scripts/bracketgenerator.js"></script>
      <script src="/vendor/jquery.bracket.min.js"></script>
      <link href="/vendor/jquery.bracket.min.css" rel="stylesheet" type="text/css" h/>
      <link href="/styles/tournament_view.css" rel="stylesheet" type="text/css" h/>
      <main class="container">
        <div class="tournamentheader">
          <!-- Tournament Name gets appended here from App.js -->
        </div>
        
        <div class="share-button">
          <% include partials/share_button %>
        </div>
        <% if (twitchName !== null) { %>
        <h3> <%= twitchName %> </h3>
        
       <div class="container-fluid">
        <div class="row embeds">
          <iframe
            class="col-md-8 embed-responsive embed-responsive-16by9"
            src="<%- twitchChannel %>"
            frameborder="0"
            allowfullscreen
            id="video">
          </iframe>
          <iframe
            frameborder="0"
            scrolling="no"
            src= "<%- twitchChat %>"
            // class="col-md-4"
            id="chat">
          </iframe>
        </div>
      </div>

        
        
        <% } %>
        

          <!-- BRACKET CODE WILL GO HERE (If user is Tournament Runner - Allow Edits . If not - Remove edit ability) -->
          <container>
                  <center>
                  <div id="save" style="display: inline-block;">

                  </div>
              </center>
          </container>

        <% if (isOwner)  {%>
          <div style="text-align: center">
            <button id="target" class="save button">Save</button>
          </div>
        <% } %>

          
          <div class="container">
              <div class="row team-cards">
              <!-- Bootstrap Cards will go Here (Users and Admins can see) -->
              </div>
          <!-- Swap players button -->
          <% if (isOwner)  {%>
          <div class="admin-options">
          <button id="swap-modal-button"><i class="fa fa-exchange" aria-hidden="true" title="Swap Players"></i></button>
          <button id="alert-players-button"><i class="fa fa-bell-o" aria-hidden="true" title="Alert Players"></i></button>
          </div>

          <!-- The Modal -->
          <div id="swap-players-modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <h1>Placeholder text</h1>
              <div class="swap-players-container">

              </div>
              <button id="swap-players-button">Confirm!</button>
              
            </div>

          </div>
        <% } %>


          </div>
      




      </main>





  </body>

</html>
