<!DOCTYPE html>
<html lang="en">
  <head>

    <script>
      window.tournamentID = <%=tournamentID%>;
    </script>
  </head>
  <body>
    <% include partials/navbar %>
    <script src="/scripts/tournament_enroll.js"></script>

    <main>
      <div class="container">
        <h1> <%= tournamentName %> </h1>
        <h3> <%= tournamentDescr %> </h3>
        <h3> Created by: <%= tournamentCreator %> </h3>
        <h3> Number of Teams: <%= teamCount %> </h3>
        <h3> Enrolled Players: <%= enrolledPlayers.length %> </h3>
        <% if(isReady) { %>
        <h3> Tournament is full. </h3>
        <h3> <a href="/tournaments/<%= tournamentID %>">Tournament Link</a> </h3>
        <% } else { %>
        <div class="enroll-now">
          <button class="enroll-me">Enroll in this Tournament!</button>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
